.imagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.imagePreview {
    padding: 10px;
    width: 300px;
}

.imageInputContainer {
    align-items: center;
    display: flex;
}

.imageAddButtonContainer {
    width: 125px;
    display: flex;
    flex-direction: row-reverse;
}
